{% extends '::base.html.twig' %}

{% block body %}
    <ul>
        {% for sign in listSign %}
            <li><a href="{{ path('fo_horoscope_by_type', { type : sign }) }}">{{ sign | title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}