{% extends '::base.html.twig' %}

{% block body %}
    {% for horoscope in horoscopes %}
        <a href="{{ path('fo_horoscope_by_type', { type : horoscope.type }) }}">
            <img style="width: 5%" src="/pictures/logo_horoscope/{{ horoscope.pictureSecondary }}">
        </a>
    {% endfor %}
{% endblock %}