{% extends '::base.html.twig' %}

{% block body %}
    <section>
        <h1 class="title-section">L'horoscope <span>du jour</span></h1>

        {% for sign in listSign %}
            <article>
                <a href="{{ path('fo_horoscope_by_type', { type : sign }) }}">{{ sign | title }}</a>
            </article>
        {% endfor %}
    </section>
{% endblock %}