/vendor
/var
/.idea
/logs
app/config/parameters.yml
/node_modules
web/config.php
web/assetic
web/assets
web/bundles
web/css
web/guide_book
web/js
web/pictures/guide_book
web/pictures/ad
web/pictures/paiement_method
web/pictures/year_book
