<div class="ad__wallpaper"></div>

{% block stylesheetsAdWallpaper %}
    <style type="text/css">
        .ad__wallpaper {
            background: url('{{ adWallpaper.img }}') no-repeat center top scroll;
        }
    </style>
{% endblock %}