<div class="ad__wallpaper"></div>

{% block stylesheetsAdWallpaper %}
    <style type="text/css">
        .ad__wallpaper {
            background: url('{{asset('pictures/ad/'~ adWallpaper.picture) }}') no-repeat center top scroll;
        }
    </style>
{% endblock %}