<footer class="container footer">
    <a href="#" class="footer__link">Mention légales</a> - <a class="footer__link" href="#">Plan du site</a> - <a class="footer__link" href="#">Contact</a>
</footer>
