<section style="background-image: url('/pictures/guide_book/{{ guideBook.picture }}');">
    <p>AUJOURD'HUI</p>
    <h3>{{ guideBook.title }}</h3>
    <article>
        {% autoescape %}
            {{ guideBook.html | raw }}
        {% endautoescape %}
        <a href="{{ path('fo_guide_book', { 'guideBook' : guideBook.id, 'title' : guideBook.title }) }}">CONSULTER</a>
    </article>
</section>
