# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     3306
    database_name:     bonne_augure
    database_user:     ba
    database_password: root
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    directory_pictures:
        guide_book: '%kernel.root_dir%/../web/pictures/guide_book/'
        year_book: '%kernel.root_dir%/../web/pictures/year_book/'
        paiement_method: '%kernel.root_dir%/../web/pictures/paiement_method/'
        ad: '%kernel.root_dir%/../web/pictures/ad/'

    redis_dsn: 'redis://localhost'

    url_horoscope:
        aries : 'http://www.asiaflash.com/horoscope/rss_horojour_belier.xml'
        taurus : 'http://www.asiaflash.com/horoscope/rss_horojour_taureau.xml'
        gemini : 'http://www.asiaflash.com/horoscope/rss_horojour_gemeau.xml'
        cancer : 'http://www.asiaflash.com/horoscope/rss_horojour_cancer.xml'
        lion : 'http://www.asiaflash.com/horoscope/rss_horojour_lion.xml'
        virgin : 'http://www.asiaflash.com/horoscope/rss_horojour_vierge.xml'
        balance : 'http://www.asiaflash.com/horoscope/rss_horojour_balance.xml'
        scorpio : 'http://www.asiaflash.com/horoscope/rss_horojour_scorpion.xml'
        sagittarius : 'http://www.asiaflash.com/horoscope/rss_horojour_sagittaire.xml'
        capricorn : 'http://www.asiaflash.com/horoscope/rss_horojour_capricorne.xml'
        aquarius : 'http://www.asiaflash.com/horoscope/rss_horojour_verseau.xml'
        pisces : 'http://www.asiaflash.com/horoscope/rss_horojour_poissons.xml'
        horoscope_period:
            aries:
                start: 'March 21'
                end: 'Apr 19'
            taurus:
                start: 'Apr 20'
                end: 'May 20'
            gemini:
                start: 'May 21'
                end: 'Jun 21'
            cancer:
                start: 'Jun 22'
                end: 'Jul 22'
            lion:
                start: 'Jul 23'
                end: 'Aug 22'
            virgin:
                start: 'Aug 23'
                end: 'Sep 22'
            balance:
                start: 'Sep 23'
                end: 'Oct 23'
            scorpio:
                start: 'Oct 24'
                end: 'Nov 22'
            sagittarius:
                start: 'Nov 23'
                end: 'Dec 21'
            capricorn:
                start: 'Dec 22'
                end: 'Jan 19'
            aquarius:
                start: 'Jan 20'
                end: 'Feb 18'
            pisces:
                start: 'Feb 19'
                end: 'March 20'

    mail_contact: 'contact@webeditionplanet.com'

    horoscope_date:
        belier:
            start: '21 mars'
            end: '19 avril'
        taureau:
            start: '20 avril'
            end: '20 mai'
        gemeau:
            start: '21 mai'
            end: '21 juin'
        cancer:
            start: '22 juin'
            end: '22 juillet'
        lion:
            start: '23 juillet'
            end: '22 août'
        vierge:
            start: '23 août'
            end: '22 septembre'
        balance:
            start: '23 septembre'
            end: '23 octobre'
        scorpion:
            start: '24 octobre'
            end: '22 novembre'
        sagittaire:
            start: '23 novembre'
            end: '21 décembre'
        capricorne:
            start: '22 décembre'
            end: '19 janvier'
        verseau:
            start: '20 janvier'
            end: '18 février'
        poissons:
            start: '19 février'
            end: '20 mars'