# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     3306
    database_name:     bonne_augure
    database_user:     ba
    database_password: root
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    directory_pictures:
        guide_book: '%kernel.root_dir%/../web/pictures/guide_book/'
        year_book: '%kernel.root_dir%/../web/pictures/year_book/'

    redis_dsn: 'redis://localhost'

    url_horoscope:
        aries : 'http://www.asiaflash.com/horoscope/rss_horojour_belier.xml'
        taurus : 'http://www.asiaflash.com/horoscope/rss_horojour_taureau.xml'
        gemini : 'http://www.asiaflash.com/horoscope/rss_horojour_gemeau.xml'
        cancer : 'http://www.asiaflash.com/horoscope/rss_horojour_cancer.xml'
        lion : 'http://www.asiaflash.com/horoscope/rss_horojour_lion.xml'
        virgin : 'http://www.asiaflash.com/horoscope/rss_horojour_vierge.xml'
        balance : 'http://www.asiaflash.com/horoscope/rss_horojour_balance.xml'
        scorpio : 'http://www.asiaflash.com/horoscope/rss_horojour_scorpion.xml'
        sagittarius : 'http://www.asiaflash.com/horoscope/rss_horojour_sagittaire.xml'
        capricorn : 'http://www.asiaflash.com/horoscope/rss_horojour_capricorne.xml'
        aquarius : 'http://www.asiaflash.com/horoscope/rss_horojour_verseau.xml'
        pisces : 'http://www.asiaflash.com/horoscope/rss_horojour_poissons.xml'

    horoscope_period:
        aries :
            start: 'Apr 15'
            end: 'May 15'
        taurus :
            start: 'May 16'
            end: 'Jun 15'
        gemini :
            start: 'Jun 16'
            end: 'Jul 15'
        cancer :
            start: 'Jul 16'
            end: 'Aug 15'
        lion :
            start: 'Aug 16'
            end: 'Sep 15'
        virgin :
            start: 'Sep 16'
            end: 'Oct 15'
        balance :
            start: 'Oct 16'
            end: 'Nov 15'
        scorpio :
            start: 'Nov 16'
            end: 'Dec 15'
        sagittarius :
            start: 'Dec 16'
            end: 'Jan 14'
        capricorn :
            start: 'Jan 15'
            end: 'Feb 14'
        aquarius :
            start: 'Feb 15'
            end: 'March 14'
        pisces :
            start: 'March 15'
            end: 'Apr 14'

    mail_contact: 'contact@webeditionplanet.com'