<section class="partial__newsletter">
    <hr />

    <div>
        <a href="" title="Inscrivez vous à la newsletter et restez informé">
                <p class="partial__newsletter__line1">N'oubliez pas</p>
                <p class="partial__newsletter__line2">Inscrivez</p>
                <p class="partial__newsletter__line3">vous</p>
                <p class="partial__newsletter__line4">a la newsletter</p>
                <p class="partial__newsletter__line5">restez informé</p>
        </a>
    </div>
</section>
