@import 'variable.less';

.footer {
    background-color: @secondary-color;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
}

.footer__link:visited,
.footer__link:focus,
.footer__link:hover {
    color: #fff;
}
