@import 'variable.less';

body > footer {
    background: #fff;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 40px;
}

body > .footer__link:visited,
body > .footer__link:focus,
body > .footer__link:hover {
    color: @primary-color;
}

body > footer a {
    color: @primary-color;
    padding: 0 10px;
}