@large-desktop: ~"(min-width: 1200px)";
@desktop:   ~"(min-width: 992px) and (max-width: 1199px)";
@tablet:    ~"(min-width: 768px) and (max-width: 991px)";
@mobile:    ~"(max-width: 767px)";

@primary-color: #43215B;
@secondary-color: #E0B0FF;
@text-color: #E0B0FF;