@large-desktop: ~"(min-width: 1200px)";
@desktop:   ~"(min-width: 992px) and (max-width: 1199px)";
@tablet:    ~"(min-width: 768px) and (max-width: 991px)";
@mobile:    ~"(max-width: 767px)";

@primary-color: #43215B;
@secondary-color: #A37AB8;
@tertiaire-color: #AB3B7C;
@primary-color-darken: darken(@primary-color, 10%);
@secondary-color-darken: darken(@secondary-color, 10%);
@primary-color-lighten:  lighten(@primary-color, 10%);
@secondary-color-lighten:  lighten(@secondary-color, 10%);

@text-color: #E0B0FF;

