@media (max-width: 767px) {
  header {
    height: 40px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  header {
    height: 60px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  header {
    height: 80px;
  }
}
@media (min-width: 1200px) {
  header {
    height: 100px;
  }
}
.navbar {
  background-color: purple;
}

footer {
  background-color: #E0B0FF;
  bottom: 0;
  height: 60px;
  width: 100%;
  text-align: center;
  padding-top: 20px;
}

a,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
  color: grey;
}
.showCursor {
  cursor: pointer;
}
