@import 'app/Resources/public/css/variable.less';


.partial__newsletter {
    height: 300px;
    position: relative;
    background-color: #fff;
}

.partial__newsletter > hr {
    height: 1px;
    background-color: @tertiaire-color;
    z-index: 100;
    width: 90%;
    position: absolute;
    top: 149px;
    margin: 0;
    right:5%;
    @media @mobile {
        display: none;
    }
}

.partial__newsletter > div {
    position: absolute;
    z-index: 200;
    width:250px;
    height: 250px;
    background-color: #fff;
    margin-left: -115px;
    left: 50%;
    margin-top: -100px;
    top: 50%;
}

.partial__newsletter > div > a {
    width:220px;
    height: 220px;
    padding: 50px 0;
    border-radius: 110px;
    top:50%;
    margin: 0 auto;
    background-color: @tertiaire-color;
    color: #fff;
    text-decoration: none;
    display: block;
}

.partial__newsletter > div > a > p{
    margin: 0;
}

.partial__newsletter__line1 {
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
}

.partial__newsletter__line2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
}

.partial__newsletter__line3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
}

.partial__newsletter__line4 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
}

.partial__newsletter__line5 {
    font-weight: 300;
    text-align: center;
    font-size: 13px;
}

.partial__guideBook {
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    @media @tablet, @desktop, @large-desktop {
        height : 300px;
    }
}

.partial__guideBook > div {
    @media @mobile {
        display:none;
    }
    @media @tablet {
        position: relative;
    }
    @media @desktop {
        position: relative;
    }
    @media @large-desktop {
        position: relative;
    }
}

.partial__guideBook > div > img {
    width:100%;
    @media @tablet, @desktop, @large-desktop {
        height : 300px;
    }
}

.partial__guideBook > article {
    background-color: #fff;
    right: 25px;
    top: 25px;
    @media @tablet, @desktop, @large-desktop {
        position: absolute;
        width: 360px;
        height:250px;
        padding: 25px;
    }
}

.partial__guideBook > article > header {
    color: #A37AB6;
    font-weight: 100;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

.partial__guideBook > article > header > hr {
    width: 50%;
    border-color: #A37AB6;
    margin: 10px auto;
}

.partial__guideBook > article > p {
    overflow: hidden;
    text-overflow: ellipsis;
    height:60px;
    text-center: center;
    margin-bottom: 20px;
}

.partial__guideBook > article > footer {
    text-align: center;
}